/* CSS declarations go here */
body {
  font-family: 'Comic Sans MS', sans-serif;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #C70039, #221242 100%);
  background-color: #C70039;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 650px;
  margin: 0 auto;
  min-height: 100%;
  background: #d2edf4;
}
 
header {
  background: #581845;
  padding: 20px 15px 20px 15px;
  position: relative;
  color: lightgray;
}
 
input[type=checkbox] {
  cursor: pointer;
}

.login-section {
  float: right;
}

#login-buttons {
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: #672956;
  border-radius: 4px;
}

#login-buttons a {
  padding: inherit;
  text-decoration: none;
}

#login-buttons #login-dropdown-list {
  left: -59px;
}

#login-buttons .login-close-text {
  padding-bottom: 15px;
}

header .ocultar-completado label {
  cursor: pointer;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.nueva-task input {
  width: 100%;
  padding: 10px 80px 0 0;
  box-sizing: border-box;
  border: none;
  font-size: 1.3em;
  color: lightgrey;
  background: transparent;
}
 
.nueva-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: #d2edf4;
}
 
.borrar {
  cursor: pointer;
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: lightgrey solid 1px;
}
 
li .text {
  cursor: pointer;
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
.btn-publicar.private {
  float: right;
  cursor: pointer;
  margin: 0 5px 0 5px;
  padding: 6px 10px;
  border: none;
  background-color: #F9FE96;
  border-radius: 3px;
}
.btn-publicar.public {
  float: right;
  cursor: pointer;
  margin: 0 5px 0 5px;
  padding: 6px 10px;
  border: none;
  background-color: #FEC3B6;
  border-radius: 3px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .nueva-task input {
    padding-bottom: 5px;
  }
}